version: '3'

services:
  mysql:
      image: mysql:latest
      environment:
         MYSQL_ROOT_PASSWORD: password
         MYSQL_DATABASE: maven-db
      volumes:
         - maven-data:/var/lib/mysql
      networks:
         - maven-network

  docker_maven:
      build: .
      ports:
         - '9090:9090'
      environment:
         SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/maven-db
         SPRING_DATASOURCE_USERNAME: root
         SPRING_DATASOURCE_PASSWORD: password
         SERVER_PORT: 9090
      depends_on:
         - mysql
      networks:
         - maven-network

networks:
   maven-network:

volumes:
   maven-data: